@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --theme-color: #05f;
    --theme-background-color: #c7daff;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
}

    header > nav {
        min-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

.nav-icon {
    font-size: 1.6em;
    margin-right: 10px;
}

    .nav-icon > i {
        color: #10d876;
    }

    .nav-icon > span {
        color: var(--theme-color);
        font-family: 'Fredoka One', cursive;
    }

.nav-items {
    display: none;
}

.search-input {
    display: none;
    background-color: #eee;
    padding: 15px 20px;
    border-radius: 25px;
}

    .search-input > input {
        min-width: 260px;
        margin-left: 5px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .search-input > i {
        color: #666;
        font-size: .9em;
    }

    .search-input > input::placeholder {
        color: #666;
        font-weight: 500;
        font-size: .9em;
    }

.nav-btns {
    display: none;
}

.nav-btn-icon {
    font-size: 1.3em;
    padding: 15px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 5px;
    color: #666;
}

.nav-btn-selected {
    color: var(--theme-color);
    background-color: var(--theme-background-color);
}


.nav-actions {
    display: none;
}

.nav-action-icon {
    cursor: pointer;
    font-size: 1.6em;
    color: var(--theme-color);
    padding: 3px;
}

.dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
}


.menu {
    display: flex;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.2em;
    padding: 12px;
    margin-left: 15px;
    border-radius: 50%;
    background-color: #eee;
    color: #666;
}

/* Main */
main {
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
}
    /* Main Navbar */

    main > nav {
        position: fixed;
        height: 100vh;
        display: none;
        width: 300px;
        overflow-y: scroll;
    }

.nav-container {
    width: 100%;
    padding: 0 14px;
    padding-top: 100px;
}

.nav-box {
    background: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 14px;
}

    .nav-box > h5 {
        color: #adb5bd;
        font-weight: 500;
        font-size: 13px;
        padding-bottom: 7px;
    }

.box-item {
    display: flex;
    align-items: center;
    padding: 7px 0;
    color: #666;
}

    .box-item > p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.ntf-cnt {
    padding: 6px;
    background: orange;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
}

.box-icon {
    font-size: 1.2em;
    color: var(--theme-color);
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.box-item:hover {
    color: var(--theme-color);
}

/* Content */
.content {
    display: flex;
    padding-top: 65px;
    padding-left: 0;
    width: 100%;
}


/* Other */
.p-relative {
    position: relative;
}

.b-circle {
    border-radius: 50%;
}

.bg-l-blue {
    background: var(--theme-background-color);
}

.c-gray {
    color: #666;
}

@media only screen and (min-width: 1100px) {
    .nav-icon {
        margin-right: 50px;
    }

    .nav-btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-action-icon {
        margin-left: 25px;
    }
}

@media only screen and (min-width: 768px) {
    header > nav {
        padding: 20px 50px;
    }

    .menu {
        display: none;
    }

    .search-input {
        display: block;
    }

    .nav-icon {
        font-size: 2em;
        min-width: 150px;
    }

    .nav-items {
        display: flex;
        width: 100%;
        justify-self: start;
    }

    .nav-actions {
        display: flex;
    }

    main > nav {
        display: flex;
    }

    .content {
        padding-top: 90px;
        padding-left: 300px;
    }
}
